<div class="container">
  <h2>Number to series 2,3,10,15,26,35,50,63,? ...</h2>

  <form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field>
            <input matInput placeholder="Index" type="number" [(ngModel)]="index" name="index">
          </mat-form-field>
        </div>
        <button mat-button type="submit" class="btn-primary">
          <span class="material-icons">
            done
          </span>
        </button>
  </form>
  <div *ngIf="this.result">
    <h2>Number in series at index {{ index }} = {{ result }}</h2>
    <h5>Will reset in {{remTime}} sec</h5>
  </div>

</div>
